.order-table {
  display: flex;
  justify-content: space-around;
}
.dash-content .cust-details {
  width: 60%;
}
.dash-content table th,
.dash-content table td {
  padding: 10px;
  text-align: left;
  font-weight: 500;
}
